.view {
    padding: 1em 5em 1em 5em;
}
.data {
   padding: 1em 0 1em 0;
}
.header {padding: 2em 0 0 0 ;}
.header h1 a {text-decoration: none;}
.footer {
    font-size: 80%; border-top: solid 1px #ccc; margin-top: 2em; padding-top: 1em;
}
.footer table td {
    padding: 0 1em 0 0;
}
a {color: #3F84E5;}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}